{% extends "base.html" %}

{% block content %}
  <h2>Log in to CrustFungi.Com</h2>
  <p class="helper-text">Don't have an account? Register one <a href="{% url 'users:register' %}">here</a>.</p>
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  <form class="login-form" method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit" class="button-minor">Log in</button>
    <input type="hidden" name="next" value="{{ next|default:'/' }}"/>
  </form>
{% endblock content %}